<div style="display:flex;">
    <button routerLink="/" routerLinkActive="active"><i class="far fa-window-close"></i></button>
    <h1>Watchlist</h1>
    <div *ngFor="let movie of watchlist" class="movie">
        <div class="wrapper">

            <div>{{movie.title}}</div>

            <img class="poster-image"
            src="https://image.tmdb.org/t/p/w1280{{ movie.poster_path }}" alt="movie-poster-picture"/>

            <button (click)="removeMovie(movie)"><i class="fas fa-minus"></i></button>
        </div>
    </div>
</div>


