.poster-image {
    height: 150px;
    width: 110px;
}

h1 {
    position: relative;

}

.wrapper {
    margin: 10px;
}

.active {
    font-size: 30px;
    border: none;
    background-color: white;
    position: relative;
}

button {
    font-size: 20px;
    border: none;
    background-color: white;
    position: relative;
}