.poster-image {
    height: 150px;
    width: 110px;
}

.top-left {
    position: absolute;
    display: flex;
}

h1 {
    position: relative;
    color: #ffecd1;
}

.wrapper {
    display: grid;
    text-align: center;
    padding: 10px;
    border: 1px solid #ffecd1;
}

.active {
    font-size: 30px;
    border: none;
    background-color: #001524;
    position: relative;
    color: #ffecd1;
}

button {
    font-size: 20px;
    border: none;
    background-color: #001524;
    color: #ffecd1;
    text-align: end;
    outline: none;
}

#watchlist-container {
    margin: 10px;
    flex-wrap: wrap;
    padding-top: 75px;
    justify-content: center;
}

.watchlist-page {
    border: 5px solid black;
    border-radius: 10px;
    height: 100%;
    background-color: #001524;
}

div {
    color: #ffecd1;
}

.fas.fa-minus {
    position: relative;
    top: -75px;
    outline: none;
}

#title {
    padding-left: 150px;
    position: relative;
    top: 75px;
    text-align: start;
}