/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Quicksand', sans-serif;
    margin:0px;
    background-color: #ff7d00;
}

@media only screen and (min-width: 600px) {
    body{
        /* background-image: url(/src/assets/pexels-photo-257385.jpeg); */
    }
}
