.header-container{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color:#78290F;
    color:#ffecd1;
}

.welcome-message{
    display:flex;
    justify-content: center;
    margin: 0px;
}
h1 {
    display: flex;
    align-items: center;
    margin: 0px;
}

@media only screen and (min-width: 600px) {
    .header-container {
        justify-content: flex-start;
        width: auto;
        align-items: center;
        padding-left: 5px;
    }
}