.header-container{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color:#78290F;
    color:white;
}

.welcome-message{
    display:flex;
    justify-content: center;
    margin: 0px;
}
h1 {
    display: flex;
    align-items: center;
    margin: 0px;
}