
<app-search-criteria></app-search-criteria>
    <div class="pop-theater-container" *ngIf="movies">
            <div *ngFor="let movie of movies">
                <a [routerLink]="['/movie-detail', movie.title, movie.posterPath, movie.rating, movie.overview]">
                    <img class="poster-image-pop-theater"
                    src="https://image.tmdb.org/t/p/original{{ movie.posterPath }}"alt="movie-poster-picture"/>
                </a>
                <div class="movie-footer">
                    <h3>Movie Title</h3>
                    <div class="add-favorites-button">
                        <i (click)="addMovie(movie)" class="fas fa-heart"></i>
                    </div>
                </div>
            </div>
    </div>
<app-footer></app-footer>
