.pop-theater-container{
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: hidden; 
    overflow-y: auto;
    width: auto; 
    height: 500px; */
    justify-content: center;
}
.individual-movie{
    width: 100px;
}

.poster-image-pop-theater{
    height:250px;
    width:150px;
}

button {
    font-size: 20px;
    border: none;
    background-color: white;
    position: relative;
}