
img {
    width: 100px;
    height: 150px;
    box-shadow: 5px 5px 5px #001524;
}

button {
    font-size: 20px;
    border: none;
    position: relative;
}

.container {
    border: 1px solid #001524;
    border-radius: 7px;
    padding: 5% 0px;
    margin: 20px 3% ;
}


.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px;
    background-image: linear-gradient(to bottom, #15616d, #ff7d00)
}

h2 {
    text-align: center;
    margin: 0px;
    color: #001524;
}

p {
    text-align: center;
    color: #001524;
    font-weight: bolder;
}

.movie-title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 2%;
    margin-right: auto;
    padding-bottom: 5px;
    color: #ffecd1;
    border-bottom: 1px solid#ffecd1;
}

.home-btn {
    border: 1px solid #001524;
    border-radius: 7px;
    margin-left: 5%;
}

.alt-color {
    background-image: linear-gradient(to top, #ff7d00, #78290f);
}
