
<div class="container">
    <div *ngFor="let movie of movieSearch">
        <div [routerLink]="['/movie-detail', movie.title, movie.poster_path, movie.vote_average, movie.overview]" class="wrapper">
            <div>{{movie.title}}</div>
            <img  class="poster-image"
            src="https://image.tmdb.org/t/p/w1280{{ movie.poster_path }}"alt="movie-poster-picture"
            onerror="this.src='assets/1554490-200.png'"/>
        </div>
        <button (click)="addMovie(movie)"><i class="fas fa-heart"></i></button>
    </div>
</div>