.poster-image {
    height: 300px;
    width: 200px;
    margin: 10px;
}

.search-container {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #78290F;
}
.title-search-input{
    height:20px;
    border-radius: 5px;
    border:none;
}

.search-button {
    margin: 5px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #15616D;
    color:white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #ff7d00;
}
@media only screen and (min-width: 600px) {
    .search-container{
        justify-content: flex-end;
        width: auto;
        position: fixed;
        top:0;
        right:0;
        margin-top: 10px;
    }
}